
.button-container{
    height: 84px;
    display: flex;
    flex: 1 1; 
    position:relative;
    resize: none;
    justify-content: right;
    align-items: center;
    font-family: 'DinoTopia';
    font-weight: bold;
    font-size: 28px;
    padding-right: 24px;
    color: white;
    border-radius: 25px; 
    margin: 4px;
    cursor: pointer;
    user-select: none;
  
}


.button-container:hover{
    color: var(--green)
}


.button-number{
    background-image: url("../img/number.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: contain;
    
}

.symbol{
    background-color: var(--light-green);
    border: none;
    height: 60px;
    box-shadow: 2px -2px 0px 0px rgba(95,135,70,1);
    -webkit-box-shadow: 2px -2px 0px 0px rgba(95,135,70,1);
    -moz-box-shadow: 2px -2px 0px 0px rgba(95,135,70,1);
   color: white;
   justify-content: center;
   padding: 0;
}

.symbol:hover{
    color: var(--peachy);
}

.first-row-button{
    height: 30px;
  }


