.input{
    height: 75px;
    width: 80%;
    background-color: var(--light-blue);
    border-left: 10px solid var(--medium-blue);
    border-top: 12px solid var(--medium-blue);
    display: flex;
    margin: auto;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    color: var(--green); 
    font-size: 30px;
    font-family: "Dinotopia";
    padding-right: 11px 30px 11px 11px;
   
}