body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

:root{
  --light-pink: #ffe6e1;
  --medium-pink: #f4cfc9;
  --peachy: #ff895f;
  --light-green: #bae0a2;
  --green: #5f8746;
  --light-blue: #c9e4e4;
  --medium-blue: #3cb4c5;
  --grey: #3d3f3b;
}


